services:
  hawkeye:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    container_name: hawkeye
    ports:
      - "8000:8000"
    environment:
      WATCH_DIRS: /watch
      WATCH_RECURSIVE: "true"
      DB_PATH: /database/hawkeye.db
      SOCKET_FILE_CHANGE_EVENT_NAME: "file_change_event"
      SOCKET_LOG_EVENT_NAME: "log_event"
    volumes:
      - ../watched:/watch
      - ../database:/database